{% extends 'base.html '%}
{% block content %}


<main>

    <h1>🎬 Lista de Filmes</h1>

<h4>Filmes cadastrados</h4>

<table class="table table-bordered table-hover">
    <thead>

        <tr>
            <th>Filme</th>
            <th>Tipo</th>
            <th>Duração</th>
        </tr>
    </thead>
    <tbody>
        {% for filme in listaFilmes %}
        <tr>
            <td>{{filme.filme}}</td>
            <td>{{filme.tipo}}</td>
            <td>{{filme.duracao}}</td>s
        </tr>
        {% endfor %}
    </tbody>
</table>
</main>
{% endblock content %}