{% extends 'base.html '%}
{% block content %}


<main>

    <h1>🎬 Lista de Filmes</h1>

    <table>
        <tr>
            <th>Filme</th>
            <th>Tipo</th>
            <th>Duração</th>
        </tr>

        <tr>
            <td>Star Wars</td>
            <td>Ficção Científica / Aventura</td>
            <td>2h 1min</td>
        </tr>

        <tr>
            <td>Senhor dos Anéis</td>
            <td>Fantasia / Aventura</td>
            <td>2h 58min</td>
        </tr>

        <tr>
            <td>Harry Potter</td>
            <td>Fantasia / Aventura</td>
            <td>2h 32min</td>
        </tr>

    </table>
</main>
{% endblock content %}