{% extends 'base.html' %}
{% block content %}

<h2>Controle do Estoque de Consoles</h2>
<br>

<details>
    <summary>[ Cadastrar novo Console ]</summary>
    <div class="col-md-4">
        <form action="{{url_for('estoque_console')}}" method="POST">
            <input type="text" name="nome" placeholder="Nome" class="form-control required">
            <input type="text" name="fabricante" placeholder="Fabricante" class="form-control required">
            <input type="text" name="preco" placeholder="Preço" class="form-control required">
            <input type="number" name="ano" placeholder="Ano" class="form-control required">
            <input type="number" name="quantidade" placeholder="Quantidade" class="form-control required">
            <br>
            <input type="submit" value="Cadastrar" class="btn btn-success">
            <input type="submit" value="Limpar" class="btn btn-danger">
        </form>
    </div>
</details>
<hr>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <th>Nome</th>
        <th>Fabricante</th>
        <th>Preço</th>
        <th>Ano</th>
        <th>Quantidade</th>
    </thead>
    <tbody>
        {% for console in consoles %}
        <tr>
            <td>{{console.nome}}</td>
            <td>{{console.fabricante}}</td>
            <td>{{console.preco}}</td>
            <td>{{console.ano}}</td>
            <td>{{console.quantidade}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}